.subBoard {
  margin-right: -2px;
  margin-top: -2px;
  border: 2px solid #999;
}

.board-row {
  display:flex;
}

.tile {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
}

.avatar {
  height:60px;
  width:60px;
}